page-home {

    ion-grid {
        height: 100%;
        justify-content: center;
    }
    /*img {
        transition: opacity 1s;
        opacity: 0;
    }
    img.ng-lazyloaded {
        opacity: 1;
    }*/
    .card-md{
        width: 100%;
        margin: 10px 0 10px 0;
    }

    .feed-background{
        background: $content-background;
    }

    .grid-empty-background{
        background: $grid-empty-background;
    }
}
